.languagesList {
  color: var(--white);

  ul {
    padding-left: 1rem;
    columns: 3;

    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  h3 {
    line-height: 1.5;
    color: var(--white);
    margin-bottom: 1rem;
  }
}